<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}JerekBase{% endblock %}</title>

    <meta name="viewport" content="width=device-width">
    {# <meta name="description" content=""> #}
    {# {% block meta %}{{ headMeta() }}{% endblock meta %} #}

    <link href="/styles/style.min.css" media="screen" rel="stylesheet" type="text/css">
    {% block style %}{% endblock style %}

    <script src="/scripts/script.min.js"></script>
    {% if config().jsDebug %}<script>JF.setDebug(true);</script>{% endif %}
    {% block script %}{% endblock script %}
</head>
<body>

{% block body %}{{ body|raw }}{% endblock body %}

<script>
var _gaq=[
    {%- spaceless %}
    {% if config().googleAnalyticsId %}
        ["_setAccount","{{ config().googleAnalyticsId }}"],["_setDomainName",".{{ config().domain }}"],["_trackPageview"],
        ['b._setAccount','UA-448886-11'],['b._setDomainName','.{{ config().domain }}'],['b._setAllowLinker',true],['b._trackPageview']
    {% else %}
        ['_setAccount','UA-448886-11'],['_setDomainName','.{{ config().domain }}'],['_setAllowLinker',true],['_trackPageview']
    {% endif %}
    {% endspaceless -%}
];
(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
g.src='//www.google-analytics.com/ga.js';
s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
</body>
</html>
