{% spaceless %}
<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}{{ config().title }}{% endblock %}</title>

    <meta name="viewport" content="width=device-width">
    {% if config().description %}
        <meta name="description" content="{{ config().description }}">
    {% endif %}
    {% if config().keywords %}
        <meta name="keywords" content="{{ config().keywords }}">
    {% endif %}
    {% block meta %}{{ headMeta() }}{% endblock meta %}

    <link href="/images/logos/favicon.ico" rel="shortcut icon">

    <link href="/styles/style.min.css" media="screen" rel="stylesheet" type="text/css">
    {% block style %}{% endblock style %}

    <script src="/scripts/script.min.js"></script>
    {% if config().jsDebug %}<script>JF.setDebug(true);</script>{% endif %}
    {% block script %}{% endblock script %}
</head>
<body>
{% endspaceless %}

{% block body %}{{ body|raw }}{% endblock body %}

{% spaceless %}
{% include 'layout/analytics' %}
</body>
</html>
{% endspaceless %}
